@model FogachoReveloProyecto.Models.Gasto

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de eliminar este gasto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegristo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegristo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorPagado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorPagado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estados)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdGasto" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="PaginaInicial">Back to List</a>
    </form>
</div>
