@model FogachoReveloProyecto.Models.Gasto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gasto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegristo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegristo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorPagado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorPagado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estados)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdGasto">Edit</a> |
    <a asp-action="PaginaInicial">Back to List</a>
</div>
